<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Show car</title>
</head>
<body>
<p th:text="${car.getModel()}">VALUE</p>
<p th:text="${'color: ' + car.getColor()}">VALUE</p>
<p th:text="${'Worker id: ' + car.getWorker_id()}">VALUE</p>

<a th:href="@{/cars/{car_id}/edit(car_id=${car.getCar_id()})}">Edit</a>

<form th:method="DELETE" th:action="@{/cars/{car_id}(car_id=${car.getCar_id()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>